div.main-image p{margin-bottom:0}

/*.image{margin:0px -20px 0px -20px;}*/

/*div.img{ margin:0px -20px 0px -20px;}*/

div.image div.main-image{margin:0;margin-bottom:20px;}
.post ul li, .post ol li{margin-left:20px;}